//noinspection ALL
@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.eot');
  src: url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.woff') format('woff'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.ttf') format('truetype'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNextLTPro';
  src: url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.eot');
  src: url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.woff') format('woff'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.ttf') format('truetype'),
  url('../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0;
  font-family: 'AvenirNextLTPro', sans-serif;/* <-- fonts */
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 20%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.author{
  float: right;
  padding-bottom: 10px;
}
.closeX{
  display:none;
  font-weight: bold;
  margin-right: 10%;
  color: white;
  font-size: 1.2vw;
}
.closeX:hover{
  text-decoration: none;
  color: #A3A3A3;
}
.gray_window{
  position: relative;
  height: 100%;
  background: linear-gradient(#FAFAFA,#EEEEEE) no-repeat;
}
.hamburger{
  display:none;
}
.hamburger{
  outline: none;
}
.category_menu_container {
  color: white;
  position: fixed;
  background: linear-gradient(#6e60a1,#2c224d);
  height:100%;
  border-right: 1px solid black;
  overflow: scroll;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 100%;
}
.logo{
  height:80%;
  width:80%;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.search_input{
  height:50px;
  float: right;
  width: 300px;
  margin-right: 10px;
  margin-left: 20px;
  padding-right: 50px;
  margin-top: 10px;
  border: 1px solid ;
  border-radius: 25px;
  background: url("../searchIcon.png") no-repeat right center;
}
.video_container{
  padding-left: 25%;
  height: 100%;
  width: auto;
}
.video_display{
  margin-top: 80px;
  overflow: scroll;
  height:100%;
  position: fixed;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .category_menu_container {
    display: none;
  }
  .closeX{
    display:block;
  }
  .hamburger{
    display: block;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 10px;
    margin-left: 25px;
    float: left;
    background: url("../../hamburgerIcon.png") no-repeat right center;
  }
  .hamburger, .search_input{
    margin-top: 10px;
    height: 50px;
  }
  .pagination{
    width: auto;
  }
  .search_input{
    width: 50%;
    position: relative;
    top: 0;
    right: 25px;
  }
  .video_container{
    padding-left: 0;
  }
  blockquote{
    font-size: 3vw;
  }
}
@media only screen and (max-width: 1000px) {
  .search_input{
    margin-left: 50%;
    position: fixed;
  }
}
.paginationProperties{
  float: right;
}
ul.pagination {
  display: inline-block;
}
ul.pagination li {display: inline;}
ul.pagination li a {
  color: black;
  float: left; //Do not move! This makes the pgtion blocks be next to eachother
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}
.pagination li:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pagination li:last-child a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
ul.pagination li a.active {
  background-color: #6e60a1;
  color: white;
  border: 1px solid #337AB7;
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
.whiteWindow{
  padding-top: 10px;
  background-color: #FFFFFF;
  border-bottom: black 1px;
  margin-top: 60px;
  margin-bottom: 20px;
}

blockquote{
  text-transform: capitalize;
  line-height: 1em;
  padding: 0.2em 8px;
  font-size: 1.1vw;
}
img {
  width:auto;
  height: auto;
  float: left;
  margin-right: 10px;
}
input {
  outline: none;
}
input:hover {
  background-color: #e6e6e6;
}
input:focus {
  background-color: white;
}
ul{
  padding: 20px;
}
ul.list-group{
  margin-left: 10px;
}
