<section>
  <div class="category_container col-sm-3 col-md-3"><!--BIG BOX-->
    <div class="container">
      <div class="row">
        <img class="logo" alt="VimeoTest - logo" src="../assets/images/logo.png"/>
        <a class="closeX">X</a>
      </div>
      <blockquote ng-repeat="response in vm.responses">{{response}}</blockquote>
    </div>
  </div>

  <div class="video_container">
    <div class="col-sm-3 col-md-12">
      <!--DIV FOR THE UPPER MENU AND SEARCH BAR-->
      <div class="row">
        <input class="search_input gray form-control" type="text" placeholder="Search videos"
               ng-model="input_search"/>
        <img class="hamburger gray">
        <h1>Detail</h1>
        <div class="video_display">
          <!--<iframe ng-src="{{vm.video_ejemplo}}" alt="Vimeo video"></iframe>  Not working video, and is the one where I use the var -->
          <!--<span><img ng-src="{{vm.video_image}}"/></span>-->
          <div ng-repeat="image in vm.video_images"><img ng-src="{{image}}"/></div>

          <ul class="paginationProperties pagination pagination-sm col-sm-9 col-md-7">
            <li><a href="#">Previous</a></li>
            <li><a class="active" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </div>
      </div>
      <!--<p class="author gray">Powered by Talos Digital</p>-->
    </div>
  </div>
  <div  class="col-sm-9 col-md-9"><!--BIG BOX-->
  </div>
</section>



